In [1]:
# ground_price

import pandas as pd

df = pd.read_csv('./data/ground_price.csv', encoding='EUC-KR')
df

      년도               사업명 지역(도)  계약건수  면적(HA)  금액(백만원)
0   2023          농지규모화-매도    경기    13       7     1518
1   2023          농지규모화-매도    강원    14      12     2046
2   2023          농지규모화-매도    충북    30      10     1956
3   2023          농지규모화-매도    충남   110      52    10974
4   2023          농지규모화-매도    전북   167      74    15976
5   2023          농지규모화-매도    전남   224      94    18694
6   2023          농지규모화-매도    경북    61      21     3898
7   2023          농지규모화-매도    경남    49      14     2735
8   2023          농지규모화-임대    경기    27      45     1472
9   2023          농지규모화-임대    강원     3       4      119
10  2023          농지규모화-임대    충북    21      23      624
11  2023          농지규모화-임대    충남    30      27      782
12  2023          농지규모화-임대    전북    84      89     3805
13  2023          농지규모화-임대    전남    32      32      695
14  2023          농지규모화-임대    경북    19      12      331
15  2023          농지규모화-임대    경남    23      16      456
16  2023  농지규모화-교환분합(집단환지)    전북     4       2      100

In [2]:
df['금액/면적(원/m2)'] = (df['금액(백만원)'] / df['면적(HA)'] * 1000000 / 10000).round(0).astype(int)
df.head()

     년도       사업명 지역(도)  계약건수  면적(HA)  금액(백만원)  금액/면적(원/m2)
0  2023  농지규모화-매도    경기    13       7     1518        21686
1  2023  농지규모화-매도    강원    14      12     2046        17050
2  2023  농지규모화-매도    충북    30      10     1956        19560
3  2023  농지규모화-매도    충남   110      52    10974        21104
4  2023  농지규모화-매도    전북   167      74    15976        21589